<%- include('../partials/header') %>
<section>
  <table>
    <thead>
      <tr>
        <td colspan="2"><h2>All Flights</h2></td>
      </tr>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight#</th>
        <th>Departs</th>
      </tr>
      </thead>
    </thead>
    <tbody>
    <% flights.forEach(function(f) { %>
        <tr class="table-row" <%= f.departs < new Date() ? 'style=color:red;' : '' %>>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs.toDateString() %><br />
              <%= f.departs.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %>
          </td>
          <td><a href="/flights/<%= f._id %>"> <i class="fas fa-pencil-alt"></i></a></td>
        </tr>
    <% }); %>
    </tbody>
  </table>
</section>
  <%- include('../partials/footer') %>