<%- include('../partials/header') %>
<section id="flight-details">
    <h2>Departure Details</h2>
    <p><b>Airline:</b> <%= flight.airline %></p>
    <p><b>Airport:</b> <%= flight.airport %></p>
    <p><b>Flight Number:</b> <%= flight.flightNo %></p>
    <p><b>Departure Date:</b> <%= flight.departs.toDateString() %></p>
    <p><b>Departure Time:</b> <%= flight.departs.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %></p>
</section>

<div class="section-row">
  <div class="section-column">
<section id='tickets'>
  <h2>Tickets</h2>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <%- tickets.map(t => 
      `
      <tr>
      <td>${t.seat}</td>
      <td>${t.price}</td>
      <td>
        <form action="/flights/${ flight._id }/tickets/${ t._id }?_method=DELETE" method="POST">
            <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i></button>
        </form>
      </td>
      </tr>
      `
    ).join('') %>
    </tbody>  

  </table>
</section>
</div>
<div class="section-column">
<section id='Add Ticket'>
  <h2>Add Ticket</h2>
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <div class="form-row">
        <div class="form-field">
            <label>Seat:
              <input type="text" name="seat" pattern="[A-F][1-9]\d?" placeholder="A1-F99" required>
            </label>
        </div>
        <div class="form-field">
            <label>Price:
              <input type="number" name="price" step="any" min="0" required>
            </label>
        </div>
    </div>
    <input type="submit" value="Add ticket">
  </form>
  </section>
</div>
</div>


<div class="section-row">
  <div class="section-column">
<section id="destinations">
  <h2>Destinations</h2>
  <table>
    <thead>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(a) { %>
        <tr>
          <td><%= a.airport %></td>
          <td><%= a.arrival.toDateString() %><br />
            <%= a.arrival.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %>
          </td>
          <td>
            <form action="/flights/<%= flight._id %>/<%= a._id %>?_method=DELETE" method="POST">
              <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i></button>
          </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</section>
</div>
<div class="section-column">
<section>
    <h2>Add Destination</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <div class="form-row">
        <div class="form-field">
          <label>Airport:</label>
          <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
        </div>
        <div class="form-field">
          <label>Arrival Date:
            <input type="datetime-local" id="date-input" name="arrival" value="" required>
          </label>
        </div>
      </div>
        <input type="submit" value="Add Destination">
    </form>
</section>  
</div>
</div>
<%- include('../partials/footer') %>